<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.SpringSheet1.Dept" name="dpt">
        <constructor-arg value="IT"/>
        <constructor-arg value="1101"/>
    </bean>
    <bean class="com.SpringSheet1.Employee" name="emp1">
            <property name="empId" value="123" />
            <property name="empName" value="Himanshi"/>
            <property name="empAddress" value="Delhi"/>
            <property name="dept" ref="dpt"/>
        </bean>
    <bean class="com.SpringSheet1.Employee" name="emp2" p:empId="567" p:empName="Ram" p:empAddress="Mumbai" p:dept-ref="dpt"/>

    <bean class="com.SpringSheet1.Employee" name="emp3">
        <constructor-arg value="167" type="int"/>
        <constructor-arg value="Shayam"/>
        <constructor-arg value="Shamli"/>
        <constructor-arg ref="dpt"/>
    </bean>
    <bean class="com.SpringSheet1.Employee" name="emp4" c:empId="1245" c:empName="Vandna" c:empAddress="Delhi" c:dept-ref="dpt"/>
</beans>
